body {
  margin: 0px;
  padding: 0px;
}

#info-panel {
  height: 10vh;
  border-bottom: 1px solid black;
}

#halls-selection {
  display: none;
}

.drop-control {
  text-align: center;
}

#map {
  height: 77vh;
}

#logo {
  padding-top: 10px;
  text-align: center;
}

#logo img {
  width: 50vw;
}

#copyright-mobile {
  height: 3vh;
  text-align: center;
  font-size: 10px;
  padding: 2vh;
  border-top: 1px solid black;
}

#copyright-desktop {
  display: none;
}

.info {
    padding: 6px 8px;
    font: 10px/12px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    border: 1px solid black;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

@media only screen and (min-width: 768px) {
  #info-panel {
    text-align: center;
    height: 100vh;
    width: 19vw;
    padding-left: 1vw;
    float: left;
    border-bottom: 0px;
  }

  .drop-control {
    display: none;
  }

  #halls-selection {
    display: block;
  }

  #map {
    height: 100vh;
    width: 80vw;
    float: right;
    display: block;
    border-left: 1px solid black;
  }

  #logo img {
    width: 17vw;
  }

  #copyright-desktop {
    display: block;
    position: absolute;
    width: 17vw;
    bottom: 0px;
    font-size: 11px;
    padding-left: 2vw;
  }

  #copyright-mobile {
    display: none;
  }

  .info {
      font: 14px/16px Arial, Helvetica, sans-serif;
  }
}

.circle-left-padding {
  padding-left: 10px;
}
